# For a detailed guide to building and testing on iOS, read the docs:
# https://circleci.com/docs/2.0/testing-ios/

version: 2

jobs:
  build-and-test-sdk:
    macos:
      xcode: "12.1"
    steps:
      - checkout
      - run:
          name: Run Tests
          command: xcodebuild test -project VGSShowSDK.xcodeproj -scheme VGSShowSDKTests -destination 'platform=iOS Simulator,name=iPhone 12,OS=14.2'
  build-and-ui-test-demo-app-ios-13-14:
    macos:
      xcode: "12.1"
    steps:
      - checkout
      - run:
          name: Run UI Tests
          command: >
            cd VGSShowDemoApp &&
            cd VGSShowDemoApp &&
            cd Resources && plutil -insert pdftoken -string ${pdftoken} UITestsMockedData.plist &&
            plutil -insert vaultID -string ${vaultID} UITestsMockedData.plist &&
            plutil -insert path -string ${path} UITestsMockedData.plist &&
            cd .. &&
            cd .. &&
            pod install &&
            xcrun instruments -w "iPhone 12 (14.2) [" || true &&
            xcrun instruments -w "iPad Air (3rd generation) (13.5) [" || true &&
            xcodebuild test -workspace VGSShowDemoApp.xcworkspace
            -scheme VGSShowDemoAppUITests
            -sdk iphonesimulator
            -destination 'platform=iOS Simulator,name=iPhone 12,OS=14.2'
            -destination 'platform=iOS Simulator,name=iPad Air (3rd generation),OS=13.5'
  build-and-ui-test-demo-app-ios-11:
    macos:
      xcode: "11.0"
    steps:
      - checkout
      - run:
          name: Run UI Tests on iOS 11
          command: >
            cd VGSShowDemoApp &&
            cd VGSShowDemoApp &&
            cd Resources && plutil -insert pdftoken -string ${pdftoken} UITestsMockedData.plist &&
            plutil -insert vaultID -string ${vaultID} UITestsMockedData.plist &&
            plutil -insert path -string ${path} UITestsMockedData.plist &&
            cd .. &&
            cd .. &&
            pod install && xcrun simctl list &&  xcrun instruments -w "iPhone X (11.4) [" || true &&
            xcodebuild test -workspace VGSShowDemoApp.xcworkspace -scheme VGSShowDemoAppUITests
            -sdk iphonesimulator
            -destination 'platform=iOS Simulator,name=iPhone X,OS=11.4'


workflows:
  version: 2
  build-and-test:
    jobs:
      - build-and-test-sdk
      - build-and-ui-test-demo-app-ios-13-14
      - build-and-ui-test-demo-app-ios-11
